In [1]:
try:
    %tensorflow_version 2.x
    COLAB = True
    print("Note: using Google CoLab")
except:
    print("Note: not using Google CoLab")
    COLAB = False

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.
Note: using Google CoLab

In [2]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
from scipy.stats import zscore

In [3]:
df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [5]:
mean_std={}

# Remove target(Because the name of the car will hinder the training)
cars = df['name']

# Handle missing value
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].median())

# Standardization
x_columns = df.columns.drop('name')
for var in x_columns:
  mean_std[var]=(df[var].mean(), df[var].std())
  df[var] = (df[var] - df[var].mean()) / df[var].std()

# Pandas to Numpy
x = df[x_columns].values
y = df['acceleration'].values # regression

In [6]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,-0.705551,1.496308,1.089233,0.672271,0.630077,-1.293870,-1.625381,-0.714246,chevrolet chevelle malibu
1,-1.089379,1.496308,1.501624,1.587959,0.853259,-1.475181,-1.625381,-0.714246,buick skylark 320
2,-0.705551,1.496308,1.194728,1.195522,0.549778,-1.656492,-1.625381,-0.714246,plymouth satellite
3,-0.961437,1.496308,1.060461,1.195522,0.546236,-1.293870,-1.625381,-0.714246,amc rebel sst
4,-0.833494,1.496308,1.041280,0.933897,0.565130,-1.837804,-1.625381,-0.714246,ford torino

In [7]:
# Split into train/test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

# Build the neural network
model = Sequential()
model.add(Dense(50, input_dim=x.shape[1], activation='relu', kernel_initializer='random_normal')) # Hidden 1
model.add(Dense(25, activation='relu', kernel_initializer='random_normal')) # Hidden 2
model.add(Dense(1, kernel_initializer='random_normal')) # Output
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(x_train,y_train,validation_data=(x_test,y_test),verbose=2,epochs=100)

Epoch 1/100
10/10 - 2s - loss: 0.9800 - val_loss: 0.9801 - 2s/epoch - 176ms/step
Epoch 2/100
10/10 - 0s - loss: 0.9342 - val_loss: 0.9211 - 67ms/epoch - 7ms/step
Epoch 3/100
10/10 - 0s - loss: 0.8664 - val_loss: 0.8279 - 67ms/epoch - 7ms/step
Epoch 4/100
10/10 - 0s - loss: 0.7537 - val_loss: 0.6883 - 113ms/epoch - 11ms/step
Epoch 5/100
10/10 - 0s - loss: 0.6070 - val_loss: 0.5362 - 73ms/epoch - 7ms/step
Epoch 6/100
10/10 - 0s - loss: 0.4726 - val_loss: 0.4236 - 85ms/epoch - 8ms/step
Epoch 7/100
10/10 - 0s - loss: 0.3750 - val_loss: 0.3214 - 116ms/epoch - 12ms/step
Epoch 8/100
10/10 - 0s - loss: 0.2714 - val_loss: 0.2201 - 92ms/epoch - 9ms/step
Epoch 9/100
10/10 - 0s - loss: 0.1745 - val_loss: 0.1364 - 98ms/epoch - 10ms/step
Epoch 10/100
10/10 - 0s - loss: 0.1051 - val_loss: 0.0713 - 91ms/epoch - 9ms/step
Epoch 11/100
10/10 - 0s - loss: 0.0571 - val_loss: 0.0351 - 89ms/epoch - 9ms/step
Epoch 12/100
10/10 - 0s - loss: 0.0307 - val_loss: 0.0229 - 108ms/epoch - 11ms/step
Epoch 13/100
10/10 - 0s - loss: 0.0206 - val_loss: 0.0179 - 131ms/epoch - 13ms/step
Epoch 14/100
10/10 - 0s - loss: 0.0178 - val_loss: 0.0176 - 110ms/epoch - 11ms/step
Epoch 15/100
10/10 - 0s - loss: 0.0157 - val_loss: 0.0136 - 93ms/epoch - 9ms/step
Epoch 16/100
10/10 - 0s - loss: 0.0139 - val_loss: 0.0137 - 171ms/epoch - 17ms/step
Epoch 17/100
10/10 - 0s - loss: 0.0122 - val_loss: 0.0101 - 71ms/epoch - 7ms/step
Epoch 18/100
10/10 - 0s - loss: 0.0109 - val_loss: 0.0098 - 93ms/epoch - 9ms/step
Epoch 19/100
10/10 - 0s - loss: 0.0098 - val_loss: 0.0090 - 105ms/epoch - 10ms/step
Epoch 20/100
10/10 - 0s - loss: 0.0090 - val_loss: 0.0077 - 80ms/epoch - 8ms/step
Epoch 21/100
10/10 - 0s - loss: 0.0080 - val_loss: 0.0073 - 140ms/epoch - 14ms/step
Epoch 22/100
10/10 - 0s - loss: 0.0071 - val_loss: 0.0066 - 101ms/epoch - 10ms/step
Epoch 23/100
10/10 - 0s - loss: 0.0066 - val_loss: 0.0062 - 117ms/epoch - 12ms/step
Epoch 24/100
10/10 - 0s - loss: 0.0061 - val_loss: 0.0057 - 85ms/epoch - 9ms/step
Epoch 25/100
10/10 - 0s - loss: 0.0056 - val_loss: 0.0052 - 74ms/epoch - 7ms/step
Epoch 26/100
10/10 - 0s - loss: 0.0053 - val_loss: 0.0048 - 79ms/epoch - 8ms/step
Epoch 27/100
10/10 - 0s - loss: 0.0048 - val_loss: 0.0044 - 73ms/epoch - 7ms/step
Epoch 28/100
10/10 - 0s - loss: 0.0044 - val_loss: 0.0043 - 104ms/epoch - 10ms/step
Epoch 29/100
10/10 - 0s - loss: 0.0041 - val_loss: 0.0040 - 103ms/epoch - 10ms/step
Epoch 30/100
10/10 - 0s - loss: 0.0039 - val_loss: 0.0037 - 119ms/epoch - 12ms/step
Epoch 31/100
10/10 - 0s - loss: 0.0036 - val_loss: 0.0036 - 80ms/epoch - 8ms/step
Epoch 32/100
10/10 - 0s - loss: 0.0035 - val_loss: 0.0037 - 78ms/epoch - 8ms/step
Epoch 33/100
10/10 - 0s - loss: 0.0032 - val_loss: 0.0032 - 81ms/epoch - 8ms/step
Epoch 34/100
10/10 - 0s - loss: 0.0031 - val_loss: 0.0037 - 95ms/epoch - 10ms/step
Epoch 35/100
10/10 - 0s - loss: 0.0029 - val_loss: 0.0030 - 115ms/epoch - 11ms/step
Epoch 36/100
10/10 - 0s - loss: 0.0027 - val_loss: 0.0032 - 110ms/epoch - 11ms/step
Epoch 37/100
10/10 - 0s - loss: 0.0025 - val_loss: 0.0029 - 75ms/epoch - 7ms/step
Epoch 38/100
10/10 - 0s - loss: 0.0023 - val_loss: 0.0029 - 84ms/epoch - 8ms/step
Epoch 39/100
10/10 - 0s - loss: 0.0022 - val_loss: 0.0027 - 82ms/epoch - 8ms/step
Epoch 40/100
10/10 - 0s - loss: 0.0021 - val_loss: 0.0029 - 64ms/epoch - 6ms/step
Epoch 41/100
10/10 - 0s - loss: 0.0021 - val_loss: 0.0026 - 125ms/epoch - 12ms/step
Epoch 42/100
10/10 - 0s - loss: 0.0020 - val_loss: 0.0025 - 146ms/epoch - 15ms/step
Epoch 43/100
10/10 - 0s - loss: 0.0019 - val_loss: 0.0027 - 100ms/epoch - 10ms/step
Epoch 44/100
10/10 - 0s - loss: 0.0018 - val_loss: 0.0026 - 121ms/epoch - 12ms/step
Epoch 45/100
10/10 - 0s - loss: 0.0017 - val_loss: 0.0024 - 125ms/epoch - 12ms/step
Epoch 46/100
10/10 - 0s - loss: 0.0017 - val_loss: 0.0024 - 88ms/epoch - 9ms/step
Epoch 47/100
10/10 - 0s - loss: 0.0017 - val_loss: 0.0024 - 111ms/epoch - 11ms/step
Epoch 48/100
10/10 - 0s - loss: 0.0016 - val_loss: 0.0026 - 59ms/epoch - 6ms/step
Epoch 49/100
10/10 - 0s - loss: 0.0015 - val_loss: 0.0023 - 96ms/epoch - 10ms/step
Epoch 50/100
10/10 - 0s - loss: 0.0015 - val_loss: 0.0021 - 103ms/epoch - 10ms/step
Epoch 51/100
10/10 - 0s - loss: 0.0014 - val_loss: 0.0022 - 70ms/epoch - 7ms/step
Epoch 52/100
10/10 - 0s - loss: 0.0013 - val_loss: 0.0023 - 118ms/epoch - 12ms/step
Epoch 53/100
10/10 - 0s - loss: 0.0013 - val_loss: 0.0023 - 76ms/epoch - 8ms/step
Epoch 54/100
10/10 - 0s - loss: 0.0013 - val_loss: 0.0022 - 90ms/epoch - 9ms/step
Epoch 55/100
10/10 - 0s - loss: 0.0012 - val_loss: 0.0019 - 133ms/epoch - 13ms/step
Epoch 56/100
10/10 - 0s - loss: 0.0011 - val_loss: 0.0020 - 117ms/epoch - 12ms/step
Epoch 57/100
10/10 - 0s - loss: 0.0011 - val_loss: 0.0019 - 81ms/epoch - 8ms/step
Epoch 58/100
10/10 - 0s - loss: 0.0011 - val_loss: 0.0018 - 74ms/epoch - 7ms/step
Epoch 59/100
10/10 - 0s - loss: 0.0010 - val_loss: 0.0020 - 73ms/epoch - 7ms/step
Epoch 60/100
10/10 - 0s - loss: 0.0011 - val_loss: 0.0019 - 99ms/epoch - 10ms/step
Epoch 61/100
10/10 - 0s - loss: 9.9418e-04 - val_loss: 0.0018 - 50ms/epoch - 5ms/step
Epoch 62/100
10/10 - 0s - loss: 9.9725e-04 - val_loss: 0.0019 - 52ms/epoch - 5ms/step
Epoch 63/100
10/10 - 0s - loss: 9.3482e-04 - val_loss: 0.0018 - 48ms/epoch - 5ms/step
Epoch 64/100
10/10 - 0s - loss: 8.9216e-04 - val_loss: 0.0016 - 58ms/epoch - 6ms/step
Epoch 65/100
10/10 - 0s - loss: 8.4742e-04 - val_loss: 0.0016 - 51ms/epoch - 5ms/step
Epoch 66/100
10/10 - 0s - loss: 9.0815e-04 - val_loss: 0.0018 - 61ms/epoch - 6ms/step
Epoch 67/100
10/10 - 0s - loss: 7.9361e-04 - val_loss: 0.0016 - 42ms/epoch - 4ms/step
Epoch 68/100
10/10 - 0s - loss: 7.6008e-04 - val_loss: 0.0015 - 48ms/epoch - 5ms/step
Epoch 69/100
10/10 - 0s - loss: 7.4921e-04 - val_loss: 0.0016 - 41ms/epoch - 4ms/step
Epoch 70/100
10/10 - 0s - loss: 7.5235e-04 - val_loss: 0.0018 - 57ms/epoch - 6ms/step
Epoch 71/100
10/10 - 0s - loss: 7.1896e-04 - val_loss: 0.0015 - 41ms/epoch - 4ms/step
Epoch 72/100
10/10 - 0s - loss: 6.5628e-04 - val_loss: 0.0014 - 40ms/epoch - 4ms/step
Epoch 73/100
10/10 - 0s - loss: 6.4374e-04 - val_loss: 0.0014 - 55ms/epoch - 6ms/step
Epoch 74/100
10/10 - 0s - loss: 6.3734e-04 - val_loss: 0.0015 - 43ms/epoch - 4ms/step
Epoch 75/100
10/10 - 0s - loss: 6.0951e-04 - val_loss: 0.0014 - 41ms/epoch - 4ms/step
Epoch 76/100
10/10 - 0s - loss: 5.7106e-04 - val_loss: 0.0014 - 43ms/epoch - 4ms/step
Epoch 77/100
10/10 - 0s - loss: 6.3202e-04 - val_loss: 0.0013 - 41ms/epoch - 4ms/step
Epoch 78/100
10/10 - 0s - loss: 6.6647e-04 - val_loss: 0.0015 - 40ms/epoch - 4ms/step
Epoch 79/100
10/10 - 0s - loss: 6.4979e-04 - val_loss: 0.0013 - 39ms/epoch - 4ms/step
Epoch 80/100
10/10 - 0s - loss: 6.1867e-04 - val_loss: 0.0015 - 58ms/epoch - 6ms/step
Epoch 81/100
10/10 - 0s - loss: 5.3427e-04 - val_loss: 0.0013 - 64ms/epoch - 6ms/step
Epoch 82/100
10/10 - 0s - loss: 4.9895e-04 - val_loss: 0.0013 - 41ms/epoch - 4ms/step
Epoch 83/100
10/10 - 0s - loss: 4.7473e-04 - val_loss: 0.0014 - 56ms/epoch - 6ms/step
Epoch 84/100
10/10 - 0s - loss: 5.2091e-04 - val_loss: 0.0013 - 56ms/epoch - 6ms/step
Epoch 85/100
10/10 - 0s - loss: 4.9490e-04 - val_loss: 0.0011 - 57ms/epoch - 6ms/step
Epoch 86/100
10/10 - 0s - loss: 4.8213e-04 - val_loss: 0.0011 - 41ms/epoch - 4ms/step
Epoch 87/100
10/10 - 0s - loss: 4.5370e-04 - val_loss: 0.0011 - 41ms/epoch - 4ms/step
Epoch 88/100
10/10 - 0s - loss: 4.1138e-04 - val_loss: 0.0014 - 61ms/epoch - 6ms/step
Epoch 89/100
10/10 - 0s - loss: 4.6064e-04 - val_loss: 0.0012 - 41ms/epoch - 4ms/step
Epoch 90/100
10/10 - 0s - loss: 4.3090e-04 - val_loss: 0.0011 - 47ms/epoch - 5ms/step
Epoch 91/100
10/10 - 0s - loss: 4.5777e-04 - val_loss: 0.0011 - 56ms/epoch - 6ms/step
Epoch 92/100
10/10 - 0s - loss: 4.1859e-04 - val_loss: 0.0011 - 41ms/epoch - 4ms/step
Epoch 93/100
10/10 - 0s - loss: 4.4563e-04 - val_loss: 0.0013 - 43ms/epoch - 4ms/step
Epoch 94/100
10/10 - 0s - loss: 4.9900e-04 - val_loss: 0.0010 - 41ms/epoch - 4ms/step
Epoch 95/100
10/10 - 0s - loss: 4.4064e-04 - val_loss: 0.0012 - 41ms/epoch - 4ms/step
Epoch 96/100
10/10 - 0s - loss: 3.8168e-04 - val_loss: 0.0011 - 56ms/epoch - 6ms/step
Epoch 97/100
10/10 - 0s - loss: 3.4962e-04 - val_loss: 0.0012 - 41ms/epoch - 4ms/step
Epoch 98/100
10/10 - 0s - loss: 3.3646e-04 - val_loss: 9.7455e-04 - 49ms/epoch - 5ms/step
Epoch 99/100
10/10 - 0s - loss: 3.2214e-04 - val_loss: 9.7523e-04 - 55ms/epoch - 6ms/step
Epoch 100/100
10/10 - 0s - loss: 3.0244e-04 - val_loss: 0.0011 - 41ms/epoch - 4ms/step

In [8]:
def reverse_standardization(dict, data, col_name):
  return data * dict[col_name][1] + dict[col_name][0]

In [9]:
pred = model.predict(x)
print(reverse_standardization(mean_std, pred[0:10], 'acceleration')) # Reverse Standardization

[[11.893829 ]
 [11.401018 ]
 [10.911663 ]
 [11.926542 ]
 [10.438042 ]
 [ 9.9341545]
 [ 9.005135 ]
 [ 8.549535 ]
 [ 9.944359 ]
 [ 8.56008  ]]

In [10]:
# Measure MSE error.  MSE is common for regression.
score = metrics.mean_squared_error(pred,y)
print(f"Final score (MSE): {score}")

Final score (MSE): 0.0005262484407749141

In [11]:
# Measure RMSE error.  RMSE is common for regression.
score = np.sqrt(metrics.mean_squared_error(pred,y))
print(f"Final score (RMSE): {score}")

Final score (RMSE): 0.022940105509236745

In [12]:
# Sample predictions
for i in range(10):
    print(f"{i+1}. Car name: {cars[i]}, Acceleration: {reverse_standardization(mean_std, y[i], 'acceleration')}, predicted Acceleration: {reverse_standardization(mean_std, pred[i], 'acceleration')}.")

1. Car name: chevrolet chevelle malibu, Acceleration: 12.0, predicted Acceleration: [11.893829].
2. Car name: buick skylark 320, Acceleration: 11.5, predicted Acceleration: [11.401018].
3. Car name: plymouth satellite, Acceleration: 11.0, predicted Acceleration: [10.911663].
4. Car name: amc rebel sst, Acceleration: 12.0, predicted Acceleration: [11.926542].
5. Car name: ford torino, Acceleration: 10.5, predicted Acceleration: [10.438042].
6. Car name: ford galaxie 500, Acceleration: 10.0, predicted Acceleration: [9.9341545].
7. Car name: chevrolet impala, Acceleration: 9.0, predicted Acceleration: [9.005135].
8. Car name: plymouth fury iii, Acceleration: 8.5, predicted Acceleration: [8.549535].
9. Car name: pontiac catalina, Acceleration: 10.0, predicted Acceleration: [9.944359].
10. Car name: amc ambassador dpl, Acceleration: 8.5, predicted Acceleration: [8.56008].